.timeline {
  height: 100%;
  overflow: auto;
  background-color: #DEF;

  .timeline-project-entry {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    h3 {
      margin-top: 0;
    }
  }

  .vertical-timeline-element-icon {
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
